*{box-sizing: border-box; margin: 0; padding: 0;}

body{
    background-repeat: repeat-x;
    font-family: 'Josefin Sans', sans-serif;
}
.todo{
    margin: 50px auto;
    padding: 10px;
    width: 600px;
    min-width: 375px;
}
.todo header{
    color: white;
    margin: 20px 0 50px;
    display: flex;
    justify-content: space-between;
}
.todo header span{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 35px;
    font-weight: 600;
    text-align: left;
}
.todo header img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.todo .the-input{
    margin-bottom: 25px;
    position: relative;
}
.todo .the-input input{
    width: 100%;
    height: 50px;
    padding: 10px 50px;
    border: none;
    background-color: var(--input-bg);
    color: white;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 5px;
}
.todo .the-input::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--circle);
    left: 10px;
    top: 14px;
}
.todo .the-input input:focus{
    outline: none;
}

.todo .todos{
    background-color: var(--main-bg);
    color: var(--main-type);
    padding: 0 0 10px ;
}
.todos .todo-item{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 25px;
    transition: all .5s ease-in;
    cursor: pointer;
    border-bottom: 1px solid var(--circle);
    font-weight: 600;
}
.todo-item .bullet{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.todo-item .bullet img{
    opacity: 0;
}
.todo-item span{
    flex: 1;
    margin-left: 15px;
}
.todo-item .cross{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 2px;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.todo-item  .cross:hover{
    background-color: var(--main-type);
}
.todo-item:hover  .cross{
    opacity: 1;
}
.todo-item:hover .bullet img{
    opacity: 1;
}
.todo-item.completed {
    text-decoration: line-through;
    color: var(--circle);
}
.completed .bullet,
.todo-item:hover .bullet{
    background-image: linear-gradient( to bottom right, hsl(192, 100%, 67%),  hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.completed .bullet img{
    opacity: 1;
}
.bullet img{
    width: 8px;
    height: 8px;
    margin-left: 5px;
    margin-bottom: 2px;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.todo .stats{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px  5px 20px;
    font-size: 13px;
    font-weight: 600;
    color: var(--circle);
}
.todo .stats .selection span{
    margin-right: 6px;
    
}
.todo .stats .items-left:hover,
.todo .stats .selection span:hover,
.todo .clear-complete:hover{
    color:  hsl(207, 91%, 65%);;
    cursor: pointer;
    transition: all .4s;
}

footer{
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    color: var(--circle);
    margin-top: 50px;
}
.active{
    color: hsl(207, 91%, 65%);
}






